body{
    width: 100%;
    display: inline-block;
    text-align: center;
}
form{
    display: inline-block;
    text-align: left;
}
h1{
    text-align: center;
}
.field{
    margin-bottom: 10px;
}
.field.button{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
input[disabled="disabled"]{
    background: white;
    color: black;
    border: solid #a4a2a0 1px;
}